@using Entities.Concrete
@model List<Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Kategoriler</h2>


<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.CategoryName</td>
            <td><a href="/Category/DeleteCategory/@item.Id" class="btn btn-danger">Sil</a></td>
            <td><a href="/Category/GetCategory/@item.Id" class="btn btn-success">Güncelle</a></td>
            
        </tr>
    }

</table>
<a href="/Category/AddCategory/" class="btn btn-primary">Yeni Kategori Ekle</a>